<!--盒子-->
<div ng-controller="detailCtrl">

    <!--顶层标题栏-->
    <div class="row ">
        <div class="col-xs-12 title text-center">
            <div style="width: 15%;float: left" ng-click="redirect('index')">
                <!--返回的按钮-->
                <span>&lt;返回</span>
            </div>
            <div style="width: 70%;float: left">
                开奖详情
            </div>
        </div>
    </div>

    <!--轮播图-->
    <div id="carousel-example-generic" class="carousel slide row" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/img/p4.jpg" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="/img/p5.jpg" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="/img/p6.jpg" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--开奖结果-->
    <div style="height: 64px">
        <div>
            <!--第一行-->
            <div class="div-date font-sm">
                <span style="float: left">第{{historyDetail.code}}期</span>
                <span style="float: right"> {{historyDetail.date.substring(0,10)}} (星期{{historyDetail.week}})</span>
            </div>
            <!--清除浮动-->
            <div class="clearfix"></div>
            <!--第二行-->
            <div class="div-ball text-center">
                <div class="ball-item ball-item-ex ball-item-red">{{historyDetail.red.split(',')[0]}}</div>
                <div class="ball-item ball-item-ex ball-item-red">{{historyDetail.red.split(',')[1]}}</div>
                <div class="ball-item ball-item-ex ball-item-red">{{historyDetail.red.split(',')[2]}}</div>
                <div class="ball-item ball-item-ex ball-item-red">{{historyDetail.red.split(',')[3]}}</div>
                <div class="ball-item ball-item-ex ball-item-red">{{historyDetail.red.split(',')[4]}}</div>
                <div class="ball-item ball-item-ex ball-item-red">{{historyDetail.red.split(',')[5]}}</div>
                <div class="ball-item ball-item-ex ball-item-blue" style="margin-right: 0px;">
                    {{historyDetail.blue}}
                </div>
            </div>
        </div>
    </div>

    <!--本期销量,奖池奖金-->
    <table class="table table-bordered">
        <tr style="background-color:#e6e6e6;">
            <td class="text-center">本期销量</td>
            <td class="text-center">奖金奖池</td>
        </tr>
        <tr>
            <td class="text-center font-sm number-red" ng-bind="historyDetail.sales | currency:'￥':3"></td>
            <td class="text-center font-sm number-red" ng-bind="historyDetail.poolmoney | currency:'￥':3"></td>
        </tr>
    </table>


    <!--中奖等级信息-->
    <table class="table table-bordered">
        <tr style="background-color:#e6e6e6;">
            <td class="text-center">奖项</td>
            <td class="text-center">中奖注数</td>
            <td class="text-center">每注奖金</td>
        </tr>
        <tr ng-repeat="prizegrade in historyDetail.prizegrades">
            <td class="text-center" ng-switch="prizegrade.type">
                <span ng-switch-when="1">一等奖</span>
                <span ng-switch-when="2">二等奖</span>
                <span ng-switch-when="3">三等奖</span>
                <span ng-switch-when="4">四等奖</span>
                <span ng-switch-when="5">五等奖</span>
                <span ng-switch-when="6">六等奖</span>
                <span ng-switch-when="*">x等奖</span>
            </td>
            <td class="text-center font-sm" ng-bind="prizegrade.typenum | currency:'':0"></td>
            <td class="text-center font-sm number-red" ng-bind="prizegrade.typemoney | currency:'￥':3"></td>
        </tr>
    </table>

    <div th:replace="~{common/menu :: #menuId}"></div>

</div>


<!--<script>-->
<!---->
<!--</script>-->