<div ng-controller="forumDetailCtrl">
    <!--顶层标题栏-->
    <div class="row ">
        <div class="col-xs-12 title text-center">
            <div style="width: 15%;float: left">
                <!--返回的按钮-->
                <span onclick="location.href='/forum/'">&lt;返回</span>
            </div>
            <div style="width: 70%;float: left">
                论坛主页
            </div>
        </div>
    </div>

    <!--帖子详情-->
    <div class="row " style="border: 1px solid gainsboro;min-height: 80px;padding-top: 5px;">
        <div class="col-xs-11">
            <div style="line-height: 20px;word-break: break-all;">
                <h4>{{note.title}}</h4>
            </div>
            <div>
                <span style="font-size:14px">{{note.username}}</span>
                <span style="font-size:12px;margin-left:4px">{{note.time}}</span>
            </div>
            <div>{{note.content}}</div>
        </div>
    </div>

    <!--回帖内容-->
    <div ng-repeat="comment in note.comments" style="padding: 10px 15px;border-bottom: 1px solid gainsboro;"
         class="row">
        <div>
            <span style="font-size:14px">{{comment.username}}</span><span
                style="font-size:12px;margin-left:4px">{{comment.time}}</span>
        </div>
        <div>{{comment.content}}</div>
    </div>

    <!--发帖功能-->
    <div style="height: 20px;"></div>
    <div class="row" style="position: fixed;bottom: 0;width: 100%;">

        <form ng-submit="submit(comment)">
            <div id="input_div" class="hidden">
                <span class="glyphicon glyphicon-remove-circle"
                      style="float:right;width: 10%;font-size: 34px;color: #ac2925;" id="close_form" ng-click="close()"></span>
                <!--输入框-->
                <textarea class="form-control" ng-model="comment.content" style="height: 100px;"
                          placeholder="请输入内容..."></textarea>
            </div>
            <!--确认发表的按钮-->
            <button type="submit" class="form-control btn btn-success">发表</button>
        </form>
    </div>
</div>