<div ng-controller="loginCtrl">
    <!--顶层标题栏-->
    <div class="row ">
        <div class="col-xs-12 title text-center">
            <div style="width: 15%;float: left">
                <!--返回的按钮-->
                <span ng-click="redirectRoot()">&lt;返回</span>
            </div>
            <div style="width: 70%;float: left">
                登录页面
            </div>
        </div>
    </div>

    <!--登录部分-->
    <div class="row">

        <!--左空白框-->
        <div class="col-xs-1"></div>

        <!--中间主体-->
        <div class="col-xs-10">
            <!--选项栏-->
            <div class="font-sm"
                 style="height: 55px;line-height: 55px;border-bottom: 2px #e6e6e6 solid;margin-bottom: 14px">
                <span class="col-xs-6 text-center" style="color: #5cb85c">登录</span>
                <span class="col-xs-6 text-center" onclick="location.href='/user/register'">注册</span>
            </div>
            <!--登录表单-->
            <form action="/user/loginUser" method="post">
                <!--手机号-->
                <div class="form-group">
                    <input type="text" name="mobile" class="form-control" placeholder="请输入手机号码…">
                </div>
                <!--密码-->
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="请输入密码…">
                </div>
                <!--提交按钮-->
                <div class="col-xs-12 form-group" style="color: red;font-size: 14px" th:if="${feedback}">手机号或密码错误</div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success form-control">登录</button>
                </div>
            </form>

            <!--底部标签-->
            <div class="font-sm">
                <span>没有账号?&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span class="text-success" ng-click="location.href='/user/register'">去注册</span>
            </div>
        </div>

        <!--右空白框-->
        <div class="col-xs-1"></div>
    </div>
</div>