<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="/js/jquery-1.12.4.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/default.css">
    <script>

        $(function () {
            var wait = 60;

            function time(o) {
                if (wait == 0) {
                    o.removeAttribute("disabled");
                    o.innerHTML = "点击发送";
                    wait = 60;
                } else {
                    o.setAttribute("disabled", true);
                    o.innerHTML = wait + "秒后重新获取";
                    wait--;
                    setTimeout(function () {
                        time(o)
                    }, 1000)
                }
            }

            $("#smsBtn").click(function () {
                    time(this);
                    //获取手机号
                    var mobile = $("*[name='mobile']").val();
                    //传递手机号
                    $.get("/user/sendSMS", {"mobile": mobile}, function (result) {
                        console.log(result);
                    });
                }
            )
        })

    </script>
</head>

<body>
<!--盒子-->
<div class="container-fluid">

    <!--顶层标题栏-->
    <div class="row ">
        <div class="col-xs-12 title text-center">
            <div style="width: 15%;float: left">
                <!--返回的按钮-->
                <span onclick="location.href='/'">&lt;返回</span>
            </div>
            <div style="width: 70%;float: left">
                注册页面
            </div>
        </div>
    </div>

    <!--注册部分-->
    <div class="row">

        <!--左空白框-->
        <div class="col-xs-1"></div>

        <!--中间主体-->
        <div class="col-xs-10">
            <!--选项栏-->
            <div class="font-sm"
                 style="height: 55px;line-height: 55px;border-bottom: 2px #e6e6e6 solid;margin-bottom: 14px">
                <span class="col-xs-6 text-center" onclick="location.href='/user/login'">登录</span>
                <span class="col-xs-6 text-center" style="color: #5cb85c">注册</span>
            </div>
            <!--注册表单-->
            <form action="/user/registerUser" method="post">
                <!--手机号-->
                <div class="form-group">
                    <input type="text" class="form-control" name="mobile" placeholder="请输入手机号码…">
                </div>
                <!--密码-->
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="请输入密码…">
                </div>
                <!--姓名-->
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="请输入姓名…">
                </div>
                <!--验证码-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6" style="padding-right: 0px">
                            <input type="text" name="code" class="form-control" placeholder="请输入验证码…">
                        </div>
                        <div class="col-xs-6 text-right" style="padding-left: 0px">
                            <button id="smsBtn" type="button" class="btn btn-default ">点击发送</button>
                        </div>
                    </div>
                    <span class="col-xs-8" style="color: red;font-size: 12px" th:text="${smsFeedback}"></span>
                </div>

                <!--提交按钮-->
                <div class="form-group">
                    <button type="submit" class="btn btn-success form-control">注册</button>
                </div>
            </form>

            <!--底部标签-->
            <div class="font-sm">
                <span>已有账号?&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span class="text-success" onclick="location.href='/user/login'">去登录</span>
            </div>
        </div>

        <!--右空白框-->
        <div class="col-xs-1"></div>
    </div>

</div>

</div>

</body>

</html>